body {
  background: #F3F6FA;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
#mobileLogo {
display: none;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
} 

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 11px 20px 10px 20px;
  background: white;
}

#sidebar ul.components {
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: blue;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: black;
}

a[data-toggle="collapse"] {
  position: relative;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}
#sidebarCollapse {
position: absolute; /* Position it absolutely relative to its parent */
top: 20px; /* Adjust positioning as needed */
left: 20px; /* Adjust positioning as needed */
z-index: 50; /* Ensure it's above other elements */
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #mobileLogo {
      display: block; /* Show logo on small screens */
      position: fixed; /* Fixed position for always visible */
      top: 10px; /* Adjust to align properly */
      left: 10px; /* Adjust to align properly */
      z-index: 50; /* Make sure it appears above other elements */

 }
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse {
display: none; /* Keep it visible on large screens */
}
}