@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
}

/* Show the sidebar when it's not hidden */
#sidebar:not(.hidden) {
    display: block;
}
body{
  background-color: rgba(255, 255, 255, 0.877);
}
h1,h2{
    color:black;
    font-size:clamp(40px,8vw,105px);
}
.add{
  width: 50px;
  border-radius: 20px;
  color: blue;
}
.delete-button{
    color: red;
    padding-right: 10%;
}
.edit-button{
    color: green;
}div:hover > span {
  display: block;
}
.alert {
    color: green;
}
#hide-div {
    border:solid 1px #c0c0c0;
    padding:10px;
    display:none;
   }  
   .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* .expanded-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}


.expanded-img {
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
} */

  
  
  
